.channels_container.channels
  %h4 Site-instellingen

  %form  
    .form-group
      %select#channel_selector.dropdown_select.dropdown_channel.form-control{"placeholder" => "Select channel"}
        %option Kies een site
        /- @channels.each do |p|
        /  %option{:value => p['id'] }
        /    = p['title']
      .add_channel.btn.btn-material-burgundy-dark
        %span.glyphicon.glyphicon-plus

      %select#menu_selector.dropdown_select.dropdown_default_color.form-control{"placeholder" => "Select menu"}
        %option{:disabled => "disabled" } Kies een menu
        - @menus.each do |p|
          %option{:value => p['id'] }= p['name']
      .add_channel.btn.btn-material-custom-darkgrey
        %span.glyphicon.glyphicon-plus
          

      %select#theme_selector.dropdown_select_small.dropdown_default_color.form-control{"placeholder" => "Select theme"}
        %option{:disabled => "disabled" } Kies een thema
        - @themes.each do |t|
          %option{:value=>t.id}= t.slug
            
      %select#startvideo_selector.dropdown_select_small.dropdown_default_color.form-control{"placeholder" => "Select theme"}
        %option{:disabled => "disabled" } Kies startprogramma
        - @programs.each do |p|   
          %option{:value => p['id'] }= p['title'][0..35].gsub(/\s\w+$/,'...') unless p['title'].nil?
          
      .logopreview.preview-image
        = image_tag("nabu_editor/blank_image.png", :class=> "thumbnail-image-preview")
        .uploader_overlay
          %span.add_logo Logo toevoegen
          %span.glyphicon.glyphicon-plus.add_logo_icon
        = s3_uploader_form id: "preview_logo", max_file_size: 5.megabytes do
          = file_field_tag :file, :class => "form-control no_borders", :accept=>"image/*"

      .primary_color_container
        %h5 Kies jouw hoofdkleur
        .input-group.demo2
          =# TODO: GET PRIMARY_COLOR %>
          %input.form-control{"value" => '#FF0000', "type" => "text"}
          %span.input-group-addon
            %i
        %p Voor accenten zoals knoppen en koppen
        

      %textarea#site_description.firstarea{"placeholder" => "Korte beschrijving site"}
    
      %textarea#site_contact{"placeholder" => "Contactgegevens site"}
      
  %button.btn.btn-material-pink.bekijk-website
    = link_to 'http://nabu.sense-studios.com/channel/gazet-van-antwerpen', :target => "_blank" do
      Bekijk website

  = javascript_include_tag "nabu_editor/publish/drop_down"
  = javascript_include_tag "nabu_editor/publish/channel_settings"  

    
=# render :partial => "shared/admin/admin_info" %>
=# render :partial => "shared/admin/datatables_translations" %>
