.describe_movie_advanced
  .well
    .form-group
      %h4
        = t('describe_movie.describe_video')

      .col-md-6
        .form-group
          %label.control-label= I18n.t('admin.describe.social.share.title_label')
          %input#social-title.form-control{:type => "text", "placeholder"=> I18n.t('admin.describe.social.share.title_placeholder')}
        .form-group
          %label.control-label= t('describe_movie.link')
          %input#social-url.form-control{:type => "text", "placeholder"=> I18n.t('admin.describe.social.share.url_placeholder')}
        %button#autofill.btn.btn-material-pink.btn-sm= I18n.t('admin.describe.social.autofill')
      .col-md-6
        .form-group
          %label.control-label= I18n.t('admin.describe.social.share.description_label')
          %textarea#social-description.form-control{:type => "text", "placeholder"=> I18n.t('admin.describe.social.share.description_placeholder'), "rows"=>'8'  }
      .clear
      .col-md-12
        .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
      .clear

      /  %h4= I18n.t('admin.describe.social.share_title')
      /  .form-group
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-facebook{"type"=>"checkbox", "checked"=>"false"} Facebook
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-linkedin{"type"=>"checkbox", "checked"=>"true"} Linkedin
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-twitter{"type"=>"checkbox", "checked"=>"true"} Twitter
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-email{"type"=>"checkbox", "checked"=>"true"} Email
      /%hr
      /
      /- if !@light_mode
      /  %h4= I18n.t('admin.describe.social.evaluate_title')
      /  .form-group
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-like{"type"=>"checkbox", "checked"=>"true"} Facebook Like
      /    .checkbox.checkbox-material-pink
      /      %label.checkbox-inline
      /        %input#social-plusone{"type"=>"checkbox", "checked"=>"true"} Google Plus 1
      /
      /%hr
      /%h4= I18n.t('admin.describe.social.email_title')
      /.form-group
      /  %label.control-label= I18n.t('admin.describe.social.email.subject_label')
      /  %input#social-subject.form-control{:type => "subject", "placeholder"=> I18n.t('admin.describe.social.email.subject_placeholder') }
      /.form-group
      /  %label.control-label= I18n.t('admin.describe.social.email.body_label')
      /  %textarea#social-body.form-control{:type => "body", "placeholder"=> I18n.t('admin.describe.social.email.body_placeholder'), "rows"=>'8' }

  /.well
  /  %h4
  /    Bezoekersopties (einde video)
  /    /= I18n.t('admin.describe.movie_end.on_movie_end')
  /  -# Just before the movie end -#= I18n.t('admin.describe.movie_end.on_movie_end')
  /
  /  .form-group
  /    .checkbox.checkbox-material-pink
  /      %label
  /        %input{"type"=>"checkbox", "value"=>"show-social-media", "name"=>"show-social-media", "id"=>"show-social-media" }
  /        = I18n.t('admin.describe.movie_end.show_social_media')

  /  .form-group
  /    .checkbox.checkbox-material-pink
  /      %label
  /        %input{"type"=>"checkbox", "name"=>"email-forwarding", "id"=>"email-forwarding" }
  /        = I18n.t('admin.describe.movie_end.show_email_fowarding')

  /  .form-group
  /    .checkbox.checkbox-material-pink
  /      %label
  /        %input{"type"=>"checkbox", "name"=>"show-opt-in", "id"=>"show-opt-in" }
  /        = I18n.t('admin.describe.movie_end.show_opt_in')
  /    .col-md-12
  /      .button.btn.btn-material-pink.pull-right#save_movie Bewaren
  /    .clear
  .well
    %h4
      Logging & Analytics
    .form-group
      .checkbox.checkbox-material-pink
        %label
          %input{"type"=>"checkbox", "value"=>"enable-logging", "name"=>"enable-logging" }
          enable user logging & analytics

    .col-md-12
      .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
    .clear

  .well
    %h4
      = t('describe_movie.after_playback')
    .form-group
      .radio
        %label
          %input{"type"=>"radio", "value"=>"do-nothing", "name"=>"on-movie-end", "checked"=>"true" }
          = I18n.t('admin.describe.movie_end.do_nothing')
    .form-group
      .radio
        %label
          %input{"type"=>"radio", "value"=>"next-program", "name"=>"on-movie-end" }
          = I18n.t('admin.describe.movie_end.play_other_movie')
        %select#next-program.form-control
          - @programs.each do |p|
            %option{"value" => p["id"] } #{ p["title"] }

    .form-group
      .radio
        %label
          %input{"type"=>"radio", "value"=>"linked-page", "name"=>"on-movie-end" }
          = I18n.t('admin.describe.movie_end.link_page_title')
        %input#linked-page.form-control{"type"=>"text", "placeholder"=> I18n.t('admin.describe.movie_end.link_page_placeholder') }
    .form-group
      .radio
        %label
          %input{"type"=>"radio", "value"=>"movie-end-text", "name"=>"on-movie-end" }
          = I18n.t('admin.describe.movie_end.show_text_title')
        %br
        %textarea#movie-end-text.form-control{"placeholder"=> I18n.t('admin.describe.movie_end.show_text_placeholder')}
      .col-md-12
        .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
      .clear

  .well
    %h4
      Password and Locking

    .form-group
      .checkbox.checkbox-material-pink
        %label
          %input{"type"=>"checkbox", "value"=>"enable_password", "name"=>"enable_password" }
          Enable Password

    .form-group
      %label Set Password
      %input#movie_password.form-control{"type"=>"text", "placeholder"=> "password" }


    .col-md-12
      .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
    .clear


  .well
    %h4
      Youtube Subtitle options

    .form-group
      .checkbox.checkbox-material-pink
        %label
          %input{"type"=>"checkbox", "value"=>"import_subtitles", "name"=>"import_subtitles" }
          import_subtitles

    .form-group
      %label subtitle_language
      %input#subtitle_language.form-control{"type"=>"text", "placeholder"=> "en" }


    .col-md-12
      .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
    .clear



  .well
    %h4
      Kaltura custom embed info
    .form-group
      %label widget id
      %input#custom_widget_id.form-control{"type"=>"text", "placeholder"=> "" }

    .form-group
      %label custom code
      %textarea#custom_embed_code.form-control{"placeholder"=> "" }

    .col-md-12
      .button.btn.btn-material-pink.pull-right.save_movie#save_movie= t('describe_movie.save')
    .clear

:javascript
  $(function() {
    $('.save_movie').unbind('click');
    $('.save_movie').click( function(e) { postMetaData() } );
  });
