.video_describe_container

  / add a while upload class?

  .button.btn.btn-material-burgundy.close_button#close_button
    %span.glyphicon.glyphicon-remove
    = link_to '', 'javascript:', :id => "close_button"

  %h3
    = t('describe_movie.describe_video')

  .row
    .form-horizontal.describe_form{"role"=>"form"}

      / I've put the bars here for now, they hide when not used (or should)
      .show_upload
        %h4= t('describe_movie.uploading')
        .upload.js_progress_bars
          .progress
            .bar.progress-bar{style: 'width: 0%'}

      .form-group
        %input#title.form-control{type: "text", placeholder: t('describe_movie.title') }
      .form-group
        %textarea#description.form-control{"type"=>"textarea", "placeholder"=> t('describe_movie.description'), "rows"=>'8'  }
      .form-group
        %input#tags.form-control{"type"=>"text", "placeholder"=> t('describe_movie.tags') }

      .form-group

        .col-xs-6.col-md-3
          .thumbnailpreview.preview-image.embed-responsive.embed-responsive-16by9
            %img{ "class"=>"thumbnail-image-preview", "src"=>"http://placehold.it/640x360", "title"=>""}
            %strong
            .uploader_overlay
              %p= t('describe_movie.choose')
              %p
              %p= t('describe_movie.thumbnail')
              %p +
            = s3_uploader_form id: "preview_thumbnail", max_file_size: 5.megabytes do
              = file_field_tag :file, :class => "form-control no_borders", :accept=>"image/*"

        .col-xs-6.col-md-3
          .thumbnailpreview.preview-image.embed-responsive.embed-responsive-16by9
            %select#thumbnails.image-picker.show-html

      .row.text-center.bottom_buttons
        .btn-group.pull-right
          %button.btn.btn-material-pink.advanced_movie#advanced
            = link_to 'javascript:showDescribeAdvancedMovie()' do
              = t('describe_movie.advanced')
              %span.glyphicon.glyphicon-chevron-right
          %button.btn.btn-material-pink.save_movie#save_movie
            = link_to 'javascript:'  do
              = t('describe_movie.save')
              %span.glyphicon.glyphicon-chevron-right

  .clear
  .clear

/ Custom javascript
= javascript_include_tag "nabu_editor/describe/describe_movie_bindings"
= javascript_include_tag "nabu_editor/describe/describe_movie"
