.video_describe_container

  / add a while upload class?

  .button.btn.btn-material-burgundy.close_button#close_button
    %span.glyphicon.glyphicon-remove
    = link_to '', 'javascript:', :id => "close_button"

  %h3
    Beschrijf video
    /= I18n.t('admin.describe.describe_video') 
    
  .row
    .form-horizontal.describe_form{"role"=>"form"}

      / I've put the bars here for now, they hide when not used (or should)
      .show_upload
        %h4 bezig met uploaden...
        .upload.js_progress_bars
          .progress
            .bar.progress-bar{style: 'width: 0%'}

      .form-group
        %input#title.form-control{"type"=>"text", "placeholder"=> "Titel" }              
      .form-group
        %textarea#description.form-control{"type"=>"textarea", "placeholder"=> "Beschrijving", "rows"=>'8'  }
      .form-group
        %input#tags.form-control{"type"=>"text", "placeholder"=> "Tags, gescheiden, door, komma\'s" }              
    
      .form-group

        .col-xs-6.col-md-3
          .thumbnailpreview.preview-image.embed-responsive.embed-responsive-16by9
            %img{ "class"=>"thumbnail-image-preview", "src"=>"http://placehold.it/640x360", "title"=>""}       
            %strong
            .uploader_overlay
              %p Kies
              %p 
              %p thumbnail
              %p +
            = s3_uploader_form id: "preview_thumbnail", max_file_size: 5.megabytes do
              = file_field_tag :file, :class => "form-control no_borders", :accept=>"image/*"
              
        .col-xs-6.col-md-3    
          .thumbnailpreview.preview-image.embed-responsive.embed-responsive-16by9
            %select#thumbnails.image-picker.show-html
              / %option{"data-img-src"=>"http://placehold.it/320x240", "value"=>1} Page 1
              
              /.col-xs-6.col-md-3
              /  .thumbnailpreview.preview-image{:style=>'width:100%'}
              /    - begin
              /      %img{ "class"=>"thumbnail-image-preview", "src"=>@program.meta.moviedescription.thumbnail, "title"=>"", :style => 'width: 100%;'}
              /    - rescue
              /      %img{ "class"=>"thumbnail-image-preview", "src"=>"http://placehold.it/640x360", "title"=>"", :style => 'width: 100%;'}
      
              /.col-xs-6.col-md-3
              /  .thumbnailpreview.preview-image{:style=>'width:100%'}
              /    - begin
              /      %img{ "class"=>"thumbnail-image-preview", "src"=>@program.meta.moviedescription.thumbnail, "title"=>"", :style => 'width: 100%;'}
              /    - rescue
              /      %img{ "class"=>"thumbnail-image-preview", "src"=>"http://placehold.it/640x360", "title"=>"", :style => 'width: 100%;'}
              
  
      /  .col-sm-2
      /    -#%button.btn-danger.btn.btn-sm.pull-right#trash_logo
      /      -#%span.glyphicon.glyphicon-trash   

      /%hr

      /.form-group
      /  %label.col-sm-2.control-label{:style=>'text-align:left'}
      /    = I18n.t('admin.describe.info.other_thumbnail');
      /  .col-sm-10                
      /    %select#thumbnails.image-picker.show-html
      /      - if !@program.blank? && @program.program_items.first.asset               
      /        - if @program.program_items[0].asset._type == "Video"
      /          - @program.program_items[0].asset.thumbnails.small.each_with_index do |t, i|                      
      /            %option{"data-img-src"=> t ,"value"=>i} Page #{i}
      /        - else
      /          %option{"data-img-src"=> @program.program_items[0].asset.thumbnail_url ,"value"=>1} Page 1

      .row.text-center.bottom_buttons
        .btn-group.pull-right
          %button.btn.btn-material-pink.advanced_movie#advanced 
            = link_to 'javascript:showDescribeAdvancedMovie()' do
              Geavanceerd
              %span.glyphicon.glyphicon-chevron-right
          %button.btn.btn-material-pink.save_movie#save_movie
            = link_to 'javascript:'  do 
              Bewaar
              %span.glyphicon.glyphicon-chevron-right

  .clear
  .clear

/ Custom javascript
= javascript_include_tag "nabu_editor/describe_movie_bindings"
= javascript_include_tag "nabu_editor/describe_movie"