.right_menu
  .settings_container
    /*** Enlarge/ Smaller ***
    #butt-toggle.btn.glyphicon.glyphicon-resize-vertical.btn-material-white
    /#butt-down.btn.glyphicon.glyphicon-triangle-bottom.btn-material-white

    / *** SETTINGS ***
    %ul.nav.nav-tabs.btn-material-white.pull-right
      %li.dropdown
        %span.glyphicon.glyphicon-cog{'aria' => '', 'hidden' => 'true'}
        %a.btn-material-white.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown", :target => "#"}}
        %ul.dropdown-menu
          %li
            %a{:onclick=>"$('#acount_editor_dialog').modal()", :target=>'_top'}
              %span.glyphicon.glyphicon-user
              &nbsp;
              = t('right_menu.account')
          - if !current_user.account?
            %li
              = link_to(main_app.admin_editors_path, :target=>"_top") do
                %span.glyphicon.glyphicon-star
                = t 'right_menu.editors'
          %li.small
            %a{"data-method"=>"delete", :href=>"/users/sign_out", :rel=>"nofollow", :title => current_user.email }
              %span.glyphicon.glyphicon-off.small
              &nbsp;
              = t 'right_menu.log_out'

          %hr

          %li.dropdown-header.small
            = t 'right_menu.version'
            .code
              4.01.4

          %li.small
            %a.small{:href => "https://github.com/Sense-Studios/nabu_editor/tree/master", :target=>'_blank'}
              %span.glyphicon.glyphicon-new-window
              &nbsp;
              = t 'right_menu.github'

          %li.small
            %a.small{:href => "/admin/dashboard", :target=>'_top'}
              = t 'right_menu.manager'

    / *** LANGUAGE ***
    %ul.nav.nav-tabs.btn-material-white.pull-right
      %li.dropdown
        %span.glyphicon.glyphicon-globe{'aria' => '', 'hidden' => 'true'}
        %a.btn-material-white.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown", :target => "#"}}
        %ul.dropdown-menu
          %li
            %a{:href => "/" + NABU_EDITOR_MOUNT_POINT + "/dashboard?locale=nl", :target=>'_top'}
              Nederlands
          %li
            %a{:href => "/" + NABU_EDITOR_MOUNT_POINT + "/dashboard?locale=en", :target=>'_top'}
              English

    / *** LOADER ***
    #load_indicator.glyphicon.glyphicon-refresh.pull-right

    / *** DROPDOWN ***
    %select#quality_dropdown.form-control.input-sm.dropdown_select.dropdown_select_quality
      %option{:value=>'320p_h264_mobile'} 320p
      %option{:value=>'480p_h264', :selected=>'selected'} 480p
      %option{:value=>'720p_h264'} 720p
      %option{:value=>'720p_5000kbps_h264'} 720p+

    / *** DROPDOWN ***
    %select#aspect_dropdown.form-control.input-sm.dropdown_select.dropdown_select_ratio
      %option{:value=>'5:4'} 5:4
      %option{:value=>'4:3'} 4:3
      %option{:value=>'3:2'} 3:2
      %option{:value=>'16:10'} 16:10
      %option{:value=>'16:9', :selected=>'selected'} 16:9
      %option{:value=>'17:9'} 17:9
      %option{:value=>'21:9'} 21:9
      %option{:value=>'24:9'} 24:9

    / *** HELP AND INFO ***
  .helpers
    .bubble.upload_helper{:style => "top: 20%"}
      %p= t 'right_menu.upload_helper'
      %p.readed

    .bubble.describe_helper{:style => "top: 20%"}
      %p= t 'right_menu.describe_helper'
      %p.readed

    .bubble.publish_helper{:style => "top: 47%"}
      %p= t 'right_menu.publish_helper'
      %p.readed

  / *** MENUS ***
  =# render partial: 'nabu_editor/admin/questions'
  = render partial: 'nabu_editor/admin/marqers'
  =# render partial: 'nabu_editor/admin/marqers_strata'
  = render partial: 'nabu_editor/admin/channels_right_menu'

  / *** SETTINGS ***
  :javascript
    $(".dropdown_select_ratio").dropdown({
      "dropdownClass": "my-dropdown"
    });
