<div class="form-group form-group-sm">
  <label class="col-sm-2 control-label">Color</label>
  <div class="col-sm-10">
    <div class="input-group input-group-sm input-append color" data-color-format="rgb" data-color="{{element.value}}" id="{{rand_id}}">
      <input class="form-control input-sm" id="{{key}}_field" type="text" data-key="{{key}}" value="{{element.value}}">
      <span class="input-group-addon add-on">
        <i style="background-color: {{element.value}};"></i>
      </span>
    </div>
  </div>
</div>
