<div class="form-group form-group-sm">
  <div class="col-sm-12">
    <div 
      class="input-group input-group-sm input-append color"              
      data-color="{{element.value}}" 
      id="{{rand_id}}">

      <input 
        class="form-control input-sm" 
        id="{{key}}_field" 
        type="text" data-key="{{key}}" 
        value="{{element.value}}">
        
      <span class="input-group-addon add-on">
        <i style="background-color: {{element.value}};"></i>
      </span>

    </div>
  </div>
</div>



