<div class="form-group form-group-sm">

  {{#if label}}
    <label class="col-sm-4">
      {{label}}
    </label>
    <div class="col-sm-8">
  {{/if}}
  {{#else}}
    <div class="col-sm-12">
  {{/else}}
    <input
      class="form-control input-sm numbers"
      data-key="{{key}}"
      id="{{key}}_field"
      value="{{element.value}}"
      placeholder="{{element.placeholder}}"
      type="number"
    />
  </div>
  <div class="clear"></div>
</div>
