<div class="form-group form-group-sm">
  <label class="col-sm-12 control-label">
    {{label}}
  </label>
  
  <div class="col-sm-12">

    <textarea 
      class="form-control 
      input-sm" 
      data-key="{{key}}" 
      id="{{key}}_field" 
      placeholder="{{element.placeholder}}" 
      type="text"
      rows="12"
    >{{element.value}}</textarea>
  
  </div>
</div>
