!!! 5
%html

  /%link{:href => "http://mtwl.sense-studios.com/assets/favicon/favicon_movietrader.png?r=0.05699863605493016", :rel => "icon", :type => "image/png"}/
  %link{:href => "#{@whitelabel['favicon']}", :rel => "icon", :type => "image/png"}/

  / render preloader
  = render partial: 'shared/preloader'

  %head
    %title
      = @whitelabel['brand']
      VMS
    /=  t('application.title')

    / pass those values to javascript
    :javascript

      // translations
      window.t = #{raw @t.to_json}

      // owner and users
      const client_id = "#{@user_id}";      // this users id
      const user_level = "#{current_user.level}";      // this users level :-/
      const account_id = "#{@account_id}";  // this users account
      const clipcard_id = "";

      // engine mount point
      const mount_point = "#{NABU_EDITOR_MOUNT_POINT}"; // mount point of the engine

      // available themes
      const available_themes = #{raw NABU_THEMES_AVAILABLE_THEMES.to_json};

      // kaltura
      // const kalturaPartnerId = "#{@kaltura_partner_id}";
      // const kalturaUiConfigId = "#{@kaltura_uiconfig_id}";

      // kaltura
      const kalturaPartnerId = "#{@owner.kaltura_partner_id unless @owner.nil?}";
      const kalturaUiConfigId = "#{@owner.kaltura_uiconfig_id unless @owner.nil?}";

      // ooyala
      const ooyalaApiKey = "#{@owner.ooyala_api_key unless @owner.nil?}";
      const ooyalePlayerId = "#{@owner.ooyala_player_id unless @owner.nil?}";

      // streamone
      const streamoneAccountId = "#{@owner.streamone_account_id unless @owner.nil?}";
      const streamonePlayerCss = "#{@owner.player_css unless @owner.nil?}";
      const streamoneRelatedJson = "#{@owner.related_json unless @owner.nil?}";

    // start the styles
    = stylesheet_link_tag "nabu_editor/application", :media => "all"

    // start the javascript
    = javascript_include_tag "nabu_editor/application"

    = csrf_meta_tags

    / looks like the only way to add this lastly
    = stylesheet_link_tag "nabu_editor/admin"
    / god nonde, dit werkt alleen zo
    = stylesheet_link_tag "nabu_editor/shared/custom_marqers"
    = stylesheet_link_tag "nabu_editor/jquery.dropdown"
    = stylesheet_link_tag "#{@whitelabel['css']}"

    / final override for right menu -- which still doesnt work
    :css
      .marqer_category {z-index: 100000001 !important;}
      .marqer_category:hover {z-index: 100000001 !important;}
      .dropdown-menu {z-index: 100000001 !important;}

    / favicon
    /%link{:href => "#{@whitelabel['favicon']}", :rel => "icon", :type => "image/png"}/
    /%link{:rel=>"icon", :type=>"image/png", :href=>"http://nabu.sense-studios.com/assets/favicon/Favicon_design.png"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=0.8"}

  %body

    / yields page
    = yield

    / initialize material design
    :javascript
      $(function() {
        $.material.init()
      })
