!!! 5
%html
  %head
    %title
      Nabu Editor Material

    / pass those values to javascript    
    :javascript  
      // translations
      window.t = #{raw @t.to_json}

      // kaltura
      var kalturaPartnerId = "#{@kaltura_partner_id}";
      var kalturaUiConfigId = "#{@kaltura_uiconfig_id}";

      // owner and users
      var client_id = "#{@user_id}";      // this users id
      var account_id = "#{@account_id}";  // this users account

      // engine mount point
      var mount_point = "#{NABU_EDITOR_MOUNT_POINT}"; // mount point of the engine

      // available themes
      var available_themes = #{NABU_THEMES_AVAILABLE_THEMES.to_json};

    // start the styles
    = stylesheet_link_tag "nabu_editor/application", :media => "all"
    = javascript_include_tag "nabu_editor/application"    
    = csrf_meta_tags

    / looks like the only way to add this lastly
    = stylesheet_link_tag "nabu_editor/admin"
    = stylesheet_link_tag "nabu_editor/jquery.dropdown"

    / final override for right menu
    :css          
      .marqer_category {z-index: 100000 !important;}
      .marqer_category:hover {z-index: 100000 !important;}

    / favicon
    %link{:rel=>"icon", :type=>"image/png", :href=>"/assets/favicon/Favicon_design.png"}

  %body

    / render menu
    = render partial: 'shared/leftmenu'

    / yields page    
    = yield

    / initialize material design
    :javascript
      $(function() {
        $.material.init()
      })